:root {
  background-color: #fff9fe;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  width: 80%;
  max-width: 650px;
  height: 70vh;
  background-color: #f7e2e2;
  border-radius: 20px;
  margin: auto;
  margin-top: 5%;
  box-shadow: 19px 20px 34px 13px rgb(65, 65, 65);
}

.fields {
  margin: 5% 10%;
}

.pink-font {
  color: #e8258e
}

.fields__title {
  display: flex;
  justify-content: center;
}

#fields__title {
  font-size: 15px;
  font-weight: bold;
  color: rgb(43, 42, 42);
  margin-top: 20px;
  margin-bottom: 5%;
}